body{
    background: url('back.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  margin: 0;
}


.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 5%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}




a{
    text-decoration: none;
}

#main{
	width: 90%;
	margin-left: 10%;
	min-width: 900px;
	float:left;
}

.nav-bar{
	width: 10%;
	min-width: 110px;
	height: 9000px;
	background-color: #FFF056;
	float: left;
	position: fixed;
	z-index:100;
}

.text_box_nav{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 60px;
}
.text_box_nav:hover .text_nav{
	color: white;
	font-size: 22px;
}

.text_nav{
	font-family: dosis;
	font-size:20px;
	line-height: 60px;
	color: #191919;
	text-align: center;
	opacity:1;
	-webkit-transition: color .2s, font-size .2s; /* Safari */
	transition: color .2s, font-size .2s;
}

.quote{
	line-height: 2;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height: 200px;
	float: left;
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.58);
	position: relative;
	z-index:10;
}


.text_box{
	float: left;
	width: 25%;
	height: 50px;
}
.text_box:hover .text{
	color: white;
	font-size: 22px;
}
.text{
	font-family: dosis;
	font-size:20px;
	line-height: 50px;
	color: white;
	text-align: center;
	opacity:1;
	-webkit-transition: color .2s, font-size .2s; /* Safari */
    transition: color .2s, font-size .2s;
}


.circle-wrap{
	float: left;
	width:100%;
	height: 200px;
}
.circle{
	margin-top: 150px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
	background-color: #6C6C6C;
	//border-radius: 150px;
	background: url('me.png');
	background-size: cover;
	border: 2px solid rgba(255,255,255,.5);
}

.quote_text{
	font-family: dosis;
	font-size:200px;
	line-height: 1.5;
	color: white;
	text-align: center;
	letter-spacing: 10px;
	border-left: 6px solid white;
	border-right: 6px solid white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

.quote_sub_text{
	font-family: dosis;
	font-size:20px;
	line-height: 1.5;
	color: #FFF056;
	text-align: center;
	letter-spacing: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.title{
	font-family: dosis;
	font-size:90px;
	line-height: 2;
	color: white;
	margin-bottom: 60px;
	text-align: center;
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.58);
}


.about{
	font-family: dosis;
	font-size:20px;
	line-height: 2;
	color: gray;
	margin-bottom: 80px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 1000px;
	text-transform: uppercase;
	letter-spacing: 6px;
}

mod{
	color: #FFF056;
}

.contact_icons{
	font-size:100px;
	line-height: 1.5;
	color: #FFF056;
	text-align: center;
	letter-spacing: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.contact_icon{
	font-size:100px;
	color: #FFF056;
	-webkit-transition: color .2s, font-size .2s; /* Safari */
	transition: color .2s, font-size .2s;
}

.contact_icon:hover{
	font-size:110px;
	color: white;
}

/*projects*/

.container{
	width: 90%;
	margin-left: 5%;
}

.boxed{
	float:left;
	position: relative;
	width: 100%;
	background-color: black;
	background-attachment: fixed;
	overflow: hidden;
}

.project_box{
	overflow: hidden;
	outline:1px solid black;
	float: left;
	width: 50%;
	min-width: 400px;
	height: 500px;
	background-color: white;
}


.project_box:hover .project{
	position: relative;
	top: -500px;
}


.project_title{
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	float:left;
	width: 100%;
	height: 500px;
	background-color: #191919;
	font-size: 40px;
	font-family: dosis;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: #FFF056;
	text-align: center;
	line-height: 500px;
	/*hover transition*/
	-webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
	top: 0;
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.58);
}

.project{
	background-color: #FFF056;
	line-height: 125px;
	font-size: 20px;
    font-family: dosis;
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
	float: left;
	width: 100%;
	height: 125px;
	color: #191919;
	/*hover transition*/
	-webkit-transition: top .5s ease-in-out, color .2s, font-size .2s;
    transition: top .5s ease-in-out, color .2s, font-size .2s;
	top: 0;
}
.project:hover{
	color: white;
	font-size: 22px;
}

.next_project{
	width: 80%;
	margin-left:10%;
	float:left;
	font-size: 50px;
	font-family: dosis;
	text-align: center;
	/*hover transition*/

	text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.58);
}

.game_video{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.arrow{
	color: #FFF056;
	-webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.arrow:hover{
	color: white;
}

.proposal{
	background-color: white;
	border-radius: 5px;
	width: 100%;
	float: left;
	color: #191919;
	padding: 8px;
	text-transform: none;
	font-family: none;
	letter-spacing: 1px;
}